* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .error-msg {
      color: orange;
      font-size: 0.9rem;
      margin-top: 0.2rem;
      margin-left: 0.5rem;
  }

    body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }
    .container {
      width: 90%;
      max-width: 400px;
      padding: 20px;
      box-sizing: border-box;
    }

    /* 헤더 */
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    .btn-close {
      background: none;
      border: none;
      font-size: 28px;
      cursor: pointer;
      color: #000;
    }
    .logo {
      height: 32px;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    h2 {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 30px;
      text-align: center;
      color: #000;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    input[type="email"],
    input[type="password"] {
      padding: 12px 15px;
      font-size: 16px;
      color: #777;
      border: 1.5px solid #ccc;
      border-radius: 10px;
      outline: none;
      transition: border-color 0.3s;
    }
    input[type="email"]:focus,
    input[type="password"]:focus {
      border-color: #FFD000;
      color: #000000;
    }

    button[type="submit"] {
      margin-top: 25px;
      padding: 14px 0;
      font-weight: 700;
      font-size: 18px;
      background-color: #FFD000;
      color: #ffffff;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    button[type="submit"]:hover {
      background-color: rgb(255, 184, 52);
    }

    .join-text {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
      color: #000;
    }
    .join-text a {
      color: orange;
      font-weight: 600;
      text-decoration: none;
      margin-left: 6px;
    }
    .join-text a:hover {
      text-decoration: underline;
    }

    /* 반응형 */
    @media (max-width: 480px) {
      .container {
        max-width: 100%;
        padding: 15px;
      }
      .logo {
        height: 28px;
      }
    }