.bbs-item {
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
}

.bbs-item h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.bbs-item p {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
